@model IEnumerable<Edura.Models.Product>


<div class="widget">
    <h4>FEATURED</h4>

    <div class="products-list">

        @foreach (var item in Model)
        {
            <div class="media">
                <a class="media-left" href="#">
                    <img alt="" class="img-responsive product-thumb" src="~/images/thumbnails/@item.Image">
                </a>
                <div class="media-body">
                    <a href="/Product/Details/@item.Id" class="product-title">@item.Name</a>
                    <p class="product-price">₺ @item.Price</p>
                </div>
            </div>
        }


    </div>

</div>
